.link{
    display: block;
    font-size: 25px;
    outline: none;
    text-decoration: none;
    margin: 5px;
    color: var(--red);
}

@media(max-width:300px) {
    .link{
      
        font-size: 18px;
    }
}
